{% extends "master.html" %}
{% block body %}

<div class="row">
  <div class="col">
    <div class="col p-3">
      <div class="card">
        <h5 class="card-title">Edit Favor: {{favor["name"]}}</h5>
        <form action="/favors/{{ favor['id'] }}/edit_favor" method="post">
          <div class="mb-3">
            <label for="name"> Favor Name:</label>
            <input class="form-control" id="name" name="name" value="{{ favor['name'] }}" aria-describedby="name">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}