{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
    </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Favors</h5>
                <form action="{{url_for('add_favor')}}" method="post">
                    <div class="col p-3">
                        <button type="submit" class="btn btn-primary" >Add Favor</button>
                        <div class="mb-3">
                            <ul id="favorsUL">
                                {% for favor in favors %}
                                <li> Name: {{ favor["name"] }},
                                    Description:{{ favor["description"] }},
                                    Jollies: {{ favor["jollies"] }},
                                    Cost: {{ favor["cost"] }},
                                    Type: {{ favor["type"] }}
                                    <form action="/favors/{{ favor['id'] }}/edit_favor" method="post">
                                    <button type="submit" class="btn btn-primary">Edit Favor</button>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}