{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
    </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Favors</h5>
                    <div class="col p-3">
                        <a href="/favors/add_favor" class="btn btn-primary">Add Favor</a>
                        <div class="mb-3">
                            <ul id="favorsUL">
                                {% for favor in favors %}
                                <li> Name: {{ favor["name"] }},
                                    Description:{{ favor["description"] }},
                                    Jollies: {{ favor["jollies"] }},
                                    Cost: {{ favor["cost"] }},
                                    Type: {{ favor["type"] }}
                                    <a href="/favors/{{ favor['id'] }}/edit_favor">Edit Favor: {{favor["name"]}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}