{% extends "master.html" %}
<head>
    <title>Leaderboard</title>
</head>

{% block body %}

    <p>Here is a summary of the game 29</p>

    These favors have been exchanged
    {{ favors_table|safe }}
    {# Typically, when text is passed to jinja, it is rendered as text. "Piping" the text in favors_table into safe
    will convert the flat text into HTML that gets rendered in the browser. #}

    <br>
    <p>Here is the leaderboard for the game</p>
    <img src="{{ leaderboard_src }}" alt="a leaderboard table">

    <img src="{{ most_jollies }}" alt="A horizontal barchart showing who has received the most jollies in this game." width="600">

    <br><br>
    What else?
    {{ tbd }}


{% endblock %}