{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
    </div>
    <div class="col p-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Join Game: {{ game_data["name"] }}</h5>
                <form action="/game/{{ game_data['id'] }}/join" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Enter your username:</label>
                        <input class="form-control" id="username" aria-describedby="username">
                    </div>
                    <button type="submit" name="username" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>

{% endblock %}