{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
    </div>
    <div class="col p-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Join Game: {{ game_data["name"] }}</h5>
                <form action="/game/{{ game_data['id'] }}/join" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Enter your username:</label>
                        {% if session.player_data %}
                        <input class="form-control" id="name" name="name" value="{{ session.player_data['id'] }}" aria-describedby="name">
                        {% else %}
                        <input class="form-control" id="name" name="name" aria-describedby="name">
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>

{% endblock %}