<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

    <title>Clinical Trial Capstone</title>
</head>

<body>

<div class="main-content" id="panel">

    <div class="container-fluid mt--6">

        {% block body %}{% endblock %}

    </div>
</div>
</body>
</html>