<script>
    function myFunction() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("mySearchable");
      li = ul.getElementsByTagName("select");

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("option")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
}
</script>
<div class="row">
    <div class="col">
    </div>
    <div class="col p-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Exchange a favor:</h5>
                <form action="/game/{{ game_id }}/exchange/create" method="post">
                    <div class="form-group">
                        <label for="sender_name">I am: </label>
                        <select class="form-control" id="sender_name" name="sender_name">
                            {% for sender in players %}
                            <option value="{{ sender['id'] }}">{{ sender["name"] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for favors by name">

                    <div class="form-group" id="mySearchable">
                        <label for="favor">giving favor: </label>
                        <select class="form-control" id="favor" name="favor" onkeyup="myFunction()">
                            {% for favor in favors %}
                            <option class="searchable" value="{{ favor['id'] }}">{{ favor['name'] }}: {{ favor['description'] }} (cost: {{ favor['cost'] }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient">to: </label>
                        <select class="form-control" id="recipient" name="recipient">
                            {% for recipient in players %}
                            <option value="{{ recipient['id'] }}">{{ recipient["name"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="2" id="boost" name="boost">
                        <label class="form-check-label" for="boost">
                            Boost this favor (ask the recipient!)
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>

<div>

    <ul id="myUL">
      <li><a href="#">Adele</a></li>
      <li><a href="#">Agnes</a></li>
      <li><a href="#">Billy</a></li>
      <li><a href="#">Bob</a></li>
      <li><a href="#">Calvin</a></li>
      <li><a href="#">Christina</a></li>
      <li><a href="#">Cindy</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-1">
    </div>
    <div class="col">
        <h5>Previous favors:</h5>
        <ul>

        </ul>
    </div>
    <div class="col-1">
    </div>
</div>